<!-- Skills -->
<div class="fix-content">
     <h2 class="title title--h2 mt-3">Programming Skills</h2>
     
     <div style="display: flex;flex-wrap: wrap;gap: 20px;">
          <ng-container *ngFor="let mySkill of skills">
               <div class="box box-inner mb-0">
                    <h6>{{mySkill.name}}</h6>
               </div>
          </ng-container>
     </div>
     <h2 class="title title--h2 mt-5">Tools / Frameworks</h2>
     <div style="display: flex;flex-wrap: wrap;gap: 20px;">
          <ng-container *ngFor="let tool of tools">
               <div class="box box-inner mb-0">
                    <h6>{{tool.name}}</h6>
               </div>
          </ng-container>
     </div>
</div>
