<!-- About -->
<div class="pb-0 pb-sm-2">
     <h1 class="title title--h1 title__separate">Blogs</h1>
</div>
<div class="fix-content">
     <div class="news-grid">
          <ng-container *ngFor="let bData of blogData">
               <article class="news-item box">
                    <div class="news-item__caption">
                         <h3 class="title title--h3"><a target="_blank" href="{{bData.webLink}}">{{bData.title}}</a></h3>
                         <p>{{bData.short_desc}}</p>
                         <div class="news-item__date"><span>{{bData.tag}}</span>{{bData.date}}</div>
                    </div>
               </article>
          </ng-container>
     </div>
</div>