.details-info__item{
     font-size: 12px !important;
     .downloadBtn{
          width: 100%;
          font-size: 15px;
          font-weight: 600;
          background: linear-gradient(155deg, #FFDA6D 0%, rgba(255, 191, 96, 0) 50%);
     }
}
